* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main {
  background-color: rgb(226, 221, 203);
  height: 100vh;
}

.box {
  background-color: black;
  height: 90vh;
  width: 70vw;
  position: absolute;
  transform: translate(20%, 6%);
  border-radius: 20px;
}

.container1 {
  display: flex;
  width: 80%;
  height: 500px;
  margin: 180px auto 0;
  column-gap: 50px;
}

.left {
  flex-basis: 30%;
  background-color: grey;
  border-radius: 20px;
}

.top {
  background-color: rgb(158, 69, 158);
  height: 60%;
  border-radius: 20px;
  margin-bottom: 40px;
}

.right {
  flex-basis: 70%;
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}
.sidebox {
  margin-top: 5px;
  background-color: red;
  flex-basis: 31%;
  border-radius: 15px;
  height: 48%;
}

.bottom {
  height: 80%;
  background-color: grey;
  margin-top: 48px;
  border-radius: 15px;
}

.one {
  background-color: orange;
}
.two {
  background-color: skyblue;
}
.three {
  background-color: lightcoral;
}
.four {
  background-color: lightgreen;
}
.five {
  background-color: purple;
}
.six {
  background-color: red;
}

.subject {
  color: white;
  font-size: 18px;
  padding: 14px 0 0 14px;
}

.new-elipse {
  padding: 1px 0 0 125px;
}
.new-elipse1 {
  padding: 1px 0 0 95px;
}
.new-elipse2 {
  padding: 1px 0 0 115px;
}
.new-elipse3 {
  padding: 1px 0 0 93px;
}
.hours {
  color: white;
  font-size: 60px;
  font-weight: normal;
  padding: 20px 0 0 20px;
}

.last-text {
  color: rgb(39, 36, 36);
  font-weight: normal;
  padding: 10px 0 0 20px;
}

img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  object-position: 0 1%;
  border: solid white 2px;
  margin: 30px 0 0 30px;
}

.textone {
  color: white;
  padding: 20px 0 0 20px;
}

.nameone {
  color: white;
  padding: 10px 0 0 30px;
  font-size: 38px;
}

.name-bottom {
  color: white;
  font-size: 15px;
  font-weight: normal;
  margin: 20px 0 0 50px;
}

.active {
  font-weight: bold;
}
